In [1]:
import pandas as pd
import sqlite3
import json

# 1. Load the Datasets
orders = pd.read_csv('orders.csv')
users = pd.read_json('users.json')

# 2. Extract Restaurant Data from SQL
conn = sqlite3.connect(':memory:')
# (Assuming you've run the SQL script to create the table 'restaurants')
# For the sake of the notebook, we'll simulate the SQL load
# restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)

# 3. Merging the Data
# Joining Orders with Users
merged_data = pd.merge(orders, users, on='user_id', how='left')

# 4. Basic Analysis (Example: Revenue by City)
revenue_by_city = merged_data.groupby('city')['total_amount'].sum().sort_values(ascending=False)
print("Total Revenue by City:\n", revenue_by_city)

# 5. Export the result
merged_data.to_csv('final_delivery_data.csv', index=False)
print("Final dataset created successfully!")

Total Revenue by City:
 city
Bangalore    2206946.58
Chennai      1990513.03
Pune         1924797.93
Hyderabad    1889366.58
Name: total_amount, dtype: float64
Final dataset created successfully!

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive